#nav-items{
    margin-right: 0 !important;
}
nav{
    font-size: 25px;
    position: fixed;
}
.sep{
    margin-left: 10px;
    margin-right: 10px;
}
.panel{
    background-color: rgba(197, 211, 211, 0.808);
    font-size: 115%;
    margin-bottom: 50px;
}
#bg{
    background-attachment: fixed;
    background-size: cover;
}
#server-btn{
    padding-left: 0;
    font-size: 100%; 
}
.profpic{
    margin-top: auto; 
    margin-bottom: auto;
}

/*@media screen and (max-width: 430px){
    #prof{
        display: none;        
    }
}
*/